.snippet-container {
  display: table-row;
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left: 0;
}

.snippet-padding {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  border-collapse: collapse;
  margin: 0;
}

.snippet {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  border-collapse: collapse;
}

