<div class="snippet-container" *ngIf="loading">
  <div class="snippet-padding"></div>
  <div class="snippet">
    <ng-content></ng-content>
  </div>
  <div class="snippet-padding"></div>
</div>

<ng-container *ngIf="!loading">
    <ng-content select="content"></ng-content>
</ng-container>
