.homeImage{
  background-image: url("../../../assets/images/platform-desktop.png");
  background-repeat: no-repeat;
  height: calc(100% - 16px);
  background-size: 50%;
  background-position: right bottom;
  transform: scaleX(-1);
  width: 100%;
  opacity: 0.7;
  position: absolute;
}
@media screen and (min-width: 481px) and (max-width: 840px) {
  .homeImage {
    background-image: url("../../../assets/images/platform-tablet.png");
    background-size: auto 75%;
  }
}

@media screen and (max-width: 480px ) {
  .homeImage {
    background-image: url("../../../assets/images/platform-mobile.png");
    height: calc(100% - 8px);
  }
}

.platformImage{

}
