<g3-loading></g3-loading>
<spinner debounceDelay="500" [backgroundColor]="'darkblue'" [spinner]="soriSpinner"></spinner>
<div #layout class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <g3-topbar></g3-topbar>
    </header>
    <div #sidenavContainer id="g3-sidebar" class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 sidenav">
        <g3-sidenav ></g3-sidenav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="homeImage">
          </div>
            <router-outlet></router-outlet>
        </div>
    </main>


    <footer class="main-footer">
      <!--<a [routerLink]="['/about-us']">About Us</a>-->
      <p g3I18n>footerText</p>
    </footer>

</div>
<g3-toast></g3-toast>

