.g3-dialog-header--background {
  margin: -15px -15px 0 -15px;
  padding: 15px;
  background: #EFEFEF;
}

.g3-dialog-header--background h4 {
  color: #12385c;
  font-size: 24px;
}

.g3-dialog-header--background .mdl-chip {
  float: left;
  margin-top: -1px;
  margin-left: 19px;
  color: #EF5350 !important;
}
