<g3-dialog [idDialog]="idDialog">
  <header class="g3-dialog-header--background" *ngIf="!!title">
    <h4 class="mdl-dialog__title">{{title | i18n}}</h4>
    <span class="mdl-chip mdl-chip--contact" *ngIf="entity?.hasOwnProperty('enabled') && !entity.enabled">
      <span class="mdl-chip__contact"><i class="material-icons" style="position: relative; top: 4px">block</i></span>
      <span class="mdl-chip__text" g3I18n>disabled</span>
    </span>
  </header>
  <header class="g3-dialog-header--background" *ngIf="!!attrTitle && entity?.hasOwnProperty('enabled')">
    <h4 class="mdl-dialog__title" [ngClass]="{'mdl-color-text--grey-600': entity.enabled}">
      {{entity[attrTitle]}}</h4>
    <pre>
    </pre>
    <span class="mdl-chip mdl-chip--contact" *ngIf="!entity.enabled">
      <span class="mdl-chip__contact"><i class="material-icons" style="position: relative; top: 4px">block</i></span>
      <span class="mdl-chip__text" g3I18n>disabled</span>
    </span>
  </header>
  <header class="g3-dialog-header--background" *ngIf="!!attrTitle && entity && !entity.hasOwnProperty('enabled')">
    <h4 class="mdl-dialog__title">{{entity[attrTitle]}}</h4>
  </header>
  <body>
  <div class="mdl-dialog__content">
    <br>
    <div *ngIf="!!attrTitle && entity?.hasOwnProperty('enabled') && !entity.enabled" style="padding-bottom: 5px"></div>
    <ng-content></ng-content>
  </div>
  </body>
  <footer>
    <div class="mdl-dialog__actions">
      <button class="mdl-button close" [g3CloseDialog]="idDialog" type="reset" g3I18n>shared.close</button>
    </div>
  </footer>
</g3-dialog>
