<div class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp g3-mdl-card__select">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <form [formGroup]="customForm.form" class="mdl-grid">
        <g3-select-control class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone "
                           property="value"
                           [results]="reportTypes"
                           [formGroup]="customForm.form"
                           [idControl]="'reportType'"
                           [isRequired]="true"
                           labelName="reports.selectReport">
        </g3-select-control>
        <g3-custom-date-picker class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone "
                               [form]="customForm.form"
                               formControlName="from"
                               [title]="('reservation.form.startDate' | i18n)"></g3-custom-date-picker>
        <g3-custom-date-picker class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone "
                               [form]="customForm.form"
                               [min]="from.value"
                               formControlName="to"
                               [title]="('reservation.form.startDate' | i18n)"></g3-custom-date-picker>
        <div class="mdl-grid">
          <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="customForm.save()" [disabled]="validator.invalid">
            {{'reports.generate' | i18n}}
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="reportDataDoughnut.length > 0; else noData" class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-grid">
        <ng-container *ngFor="let data of reportDataDoughnut">
          <div class="mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-grid">
              <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone g3-flex--align-center">
                <i class="material-icons mdi mdi-file-chart">
                </i>
                {{data.resource}}
              </div>
              <div class="mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <canvas baseChart
                        [data]="data.count"
                        chartType="doughnut"
                        [labels]="data.requesters">
                </canvas>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-template #noData>
      <h6 g3I18n style="margin: 0 auto;">reports.no_data</h6>
    </ng-template>
  </div>
</div>
