html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  margin: 0 !important;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 20px !important;
}

.mdl-data-table {
  thead th {
    color: $g3-primary-color;
  }

  tbody .g3-item-list:nth-child(2n) {
    background-color: rgba(63, 81, 181, 0.05);
  }

  thead tr {
    background-color: $g3-primary-color;
  }
  thead tr th {
    color: $g3-white-app-color;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 0;
    vertical-align: middle;
  }

  &__cell--non-numeric {
    word-wrap: break-word;
    white-space: normal;
  }
}

span.description__bold {
  opacity: 0.6;
  color: black;
  font-weight: bold;
}

.mdl-dialog__title {
  font-size: 24px !important;
}

dialog > .wrapper-modal > header * {
  color: $g3-primary-color !important;
  margin-bottom: 15px;
}

.mdl-dialog__content > div > p, .mdl-dialog__content > div > div > p {
  margin-top: 15px;
}

.mdl-layout__content {
  padding-top: 0 !important;
}

.mdl-button .material-icons {
  color: $g3-primary-color;
}

.mdl-button[disabled] .material-icons {
  color: rgba(18, 56, 92, 0.3);
}

.mdl-switch.is-checked .mdl-switch__thumb {
  background: rgb(18, 56, 92) !important;
}

.mdl-switch.is-checked .mdl-switch__track {
  background: rgba(18, 56, 92, 0.5) !important;
}

.mdl-card__title.g3-flex-direction__row .mdl-card__title-text {
  align-self: flex-start;
  margin-right: auto;
}

dialog .mdl-tooltip {
  position: inherit !important;
}

.mdl-card__media {
  background-color: $g3-secundary-color !important;
}

.g3-text-center{
  text-align: center;
}

/* Global */

.g3-align-center {
  text-align: center !important;
}

.g3-align-right {
  text-align: right !important;
}

.g3-align-left {
  text-align: left !important;
}

.g3-vertical-align-center {
  vertical-align: center !important;
}

.g3-capitalize {
  text-transform: capitalize;
}

.g3-upper-case {
  text-transform: uppercase;
}

.g3-full-width {
  width: 100%;
}

.mdl-dialog__actions > * {
  font-size: 95% !important;
}

.g3-text-color__primary {
  color: $g3-primary-color !important;
}

.g3-text-underline {
  text-decoration: underline;
}

.g3-text-color__primary.bold {
  font-weight: bold;
}

.g3-text-nowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.g3-margin-negative_icons{
  vertical-align: middle;
  margin-top: -5px;
}

.g3-background-color__primary {
  background-color: $g3-primary-color !important;
}

.g3-flex-direction__row {
  flex-direction: row !important;
}

.g3-min-heigth-content{
  min-height: fit-content;
}

/* Animated */
.animated {
  transition-timing-function: ease-out !important;
  animation-duration: 500ms;
}

.mdl-chip.mdl-chip--contact {
  margin-left: 25px !important;
  margin-bottom: 0 !important;
}

.mdl-dialog__content {
  padding-top: 10px !important;
  padding-bottom: 0;
}

.mdl-dialog__content > div > p, .mdl-dialog__content > div > div > p {
  margin: 0;
}

//dialog {
//  max-height: 80vh;
//}

dialog > .wrapper-modal > header * {
  margin-bottom: 5px !important;
}

g3-fab ~ .g3-fab-partner {
  margin-bottom: 100px !important;
}

.mdl-card.g3-wrap-content {
  min-height: inherit !important;
}

.mdl-radio.is-checked .mdl-radio__outer-circle {
  border: 2px solid $g3-primary-color !important;
}

.mdl-radio__inner-circle {
  background: $g3-primary-color !important;
}

.mdl-textfield__info {
  position: absolute;
  font-size: 11px;
  margin-top: 3px;
  visibility: visible;
  display: block;
  font-style: italic;
}

.mdl-textfield__infoo {
  position: relative;
  font-size: 11px;
  margin-top: 3px;
  visibility: visible;
  display: block;
  font-style: italic;
}

.getmdl-select .mdl-textfield__input {
  overflow: hidden;
  padding-right: 32px;
  text-overflow: ellipsis;
  max-width: calc(100% - 32px);
  box-sizing: padding-box;
}

.getmdl-select li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.getmdl-select li.g3-li--subcontainer p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-content > * {
  width: 100%;
}

.material-icons {
  color: $g3-primary-color;
}

.g3-primary-color__background {
  background-color: $g3-primary-color !important;
}

.mdl-dialog.animated {
  transition-timing-function: ease-out !important;
  animation-duration: 300ms;
}

.mdl-card__title {
  background-color: $g3-background-title-color;
}

.mdl-card__full-width {
  width: 100% !important;
}

.mdl-card__full-width > .mdl-card__supporting-text {
  width: auto !important;
  padding: 0 16px;
}

.material-icons.language-icon {
  color: white;
}

.material-icons.mdi.mdi-barcode {
  margin-top: -3px;
}

.g3-container__overflow-visible {
  overflow: visible !important;
}

.mdl-menu__container.is-upgraded.is-visible {
  z-index: 1500;
}

.fixed-header tbody {
  display: block !important;
  overflow: auto;
  max-height: calc(80vh - 156px);
  min-height: calc(80vh - 200px);
  width: 100%;
}

.fixed-header thead tr {
  display: block;
}

@media only screen and (max-width: 479px) {
  .fixed-header tbody {
    height: calc(100vh - 216px);
  }
}

/**
  g3-li--subcontainer for selects with 'subtitle' (organizations select)
 */

.g3-li--subcontainer {
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.12) !important;
  padding-top: 8px;
  padding-bottom: 4px;
}

.g3-li--subcontainer:first-child {
  padding-top: 4px;
}

.g3-li--subcontainer:last-child {
  border-bottom: none;
}

.g3-li--subcontainer p {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: -18px;
}


.details-item__title{
  height: auto !important;
}

.g3-li--subcontainer > span {
  font-size: 11px;
}

.g3-mdl-select--autocomplete input {
  cursor: text !important;
}

@media only screen and (max-width: 479px) {
  .g3-li--subcontainer {
    height: auto !important;
  }

  .g3-li--subcontainer p {
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal;
  }
}

.g3-button--delete button i, .g3-button--delete li, .g3-button--delete li * {
  color: unquote("rgba(#{$palette-red-400})") !important;
}

.g3-button--delete button i.disabled, .g3-button--delete li, .g3-button--delete li * {
  color: gray !important;
}

.g3-flag--text__after:after {
  content: attr(data-text);
  margin-left: 1.333333333em;
}

.mdl-checkbox__tick-outline {
  mask: url("#{$mdl-checkbox-image-path}/tick-mask.svg?embed");
  .mdl-checkbox.is-checked & {
    background: $checkbox-color url("#{$mdl-checkbox-image-path}/tick.svg?embed");
  }

  fieldset[disabled] .mdl-checkbox.is-checked &,
  .mdl-checkbox.is-checked.is-disabled & {
    background: $checkbox-disabled-color url("#{$mdl-checkbox-image-path}/tick.svg?embed");
  }
}

.g3-information-card{
  padding: 16px;
}

.mdl-card__title-no-padding__top{
  padding: 0 16px 0 16px !important;
  background-color: rgb(239, 239, 239);
}

ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu{
  max-height: 30vh;
  overflow-y: auto;
}

.getmdl-select .mdl-menu__container{
  max-height: 30vh;
  min-height: 20vh;
}

@supports (-webkit-appearance:none) {
  .mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate) > .auxbar,
  .mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate) > .auxbar {
    mask: url('#{$mdl-checkbox-image-path}/buffer.svg?embed');
  }
}


.color-disabled{
  color: rgba(18, 56, 92, 0.3) !important;
}

.g3-cursor-pointer{
  cursor: pointer;
  &:read-write {
    cursor: pointer;
  }
}

.g3-font-size{
  font-size: 16px !important;
}

g3-custom-date-picker{

  .mat-form-field-underline{
    background-color: rgba(0,0,0, 0.12);
  }

  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    color: rgba(0,0,0, 0.26);
  }

  &.ng-dirty.ng-valid {
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
      color: rgb(63, 81, 181);
    }
    .mat-form-field-underline{
      background-color: rgba(0,0,0, 0.12);
    }
  }

  &.ng-untouched.ng-dirty.ng-valid {
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
      color: rgba(0,0,0, 0.26);
    }
    .mat-form-field-underline{
      background-color: rgba(0,0,0, 0.12);
    }
  }

  &.ng-dirty.ng-invalid {
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
      color: rgb(213,0,0);
    }
    .mat-form-field-underline{
      background-color: rgb(213,0,0);
    }

    mat-hint{
      color: rgb(213,0,0);
    }

    mat-icon{
      color: rgb(213,0,0);
    }
  }

}

.mdl-components__warning {
  width: 100%;
  margin-bottom: 20px;
  background-color: #FFF9C4;
  border-radius: 2px;
  color: #212121;
  padding: 20px 0 20px 0;
  text-align: center;
  & p {
    margin: 0;
  }
  & i {
    font-size: 30px;
  }
}

.display-hidden{
  display: none;
}

@media (min-width: 840px) {
  .mdl-grid {
    padding-top: 16px;
  }
}

.g3-flex--align-right__center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.g3-margin--10-right {
  margin-right: 10px;
}

.g3-no-padding__left{
  padding-left: 0;
}

.g3-no-padding {
  padding: 0 !important;
}

.g3-no-margin__left{
  margin-left: 0;
}

.g3-margin-auto {
  margin: auto;
}

@for $i from 1 through 100 {
  .w-#{$i} { width: 0% + $i; }
}

@media (max-width: $grid-tablet-breakpoint) {
  @for $i from 1 through 100 {
    .w-#{$i}--tablet { width: 0% + $i; }
  }
}

@for $i from 1 through 10 {
  .g3-margin-right-#{$i*4} { margin-right: 1px * ($i*4);}
}

.g3-no-minHeight{
  min-height: 0;
}

.g3-mdl-card__select {
  overflow: visible;
}
