<div class="mdl-card mdl-card__supporting-text mdl-shadow--2dp g3-mdl-card__select">
  <form id="internationalizationForm" [formGroup]="customForm.form">
    <div class="g3-border">
      <!--Title-->
      <h4 class="g3-text-color__primary bold">
        <span g3I18n>reservation.form.create</span>
      </h4>

      <div class="mdl-grid">

        <!--ReservationType-->
        <g3-select-control class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                           [isRequired]="true"
                           [formGroup]="customForm.form"
                           [results]="reservationTypes"
                           [idControl]="'reservationType.id'"
                           [labelName]="'reservation.form.reservationType'"></g3-select-control>

        <!-- Reason -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col-desktop"
             g3UpgradeElements>
          <textarea class="mdl-textfield__input" rows="3" formControlName="reason" id="reason"></textarea>
          <label class="mdl-textfield__label" for="reason">{{'reservation.form.reason' | i18n}}*</label>
        </div>

        <!-- LocationDescription-->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col-desktop"
             g3UpgradeElements>
          <textarea class="mdl-textfield__input" rows="3" formControlName="locationDescription"
                    id="locationDescription"></textarea>
          <label class="mdl-textfield__label"
                 for="locationDescription">{{'reservation.form.locationDescription' | i18n}}*</label>
        </div>

        <ng-container *ngIf="isSelectedReservationType">
          <g3-custom-date-picker style="padding-top: 1em"
                                 class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone "
                                 [form]="customForm.form"
                                 [min]="today"
                                 formControlName="startDate"
                                 [title]="('reservation.form.startDate' | i18n)"></g3-custom-date-picker>
          <ng-container *ngIf="(isRepeatableTye$ | async)">
            <g3-custom-date-picker style="padding-top: 1em"
                                   class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone "
                                   [form]="customForm.form"
                                   [min]="startDate.value"
                                   formControlName="finalDate"
                                   [title]="('reservation.form.endDate' | i18n)"></g3-custom-date-picker>
          </ng-container>

          <ng-container formGroupName="rangeTime">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
                      mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" g3UpgradeElements>
              <input class="mdl-textfield__input" type="time" formControlName="startTime" step="1800" id="startTime"/>
              <label class="mdl-textfield__label" for="startTime">{{'reservation.form.startTime' | i18n}}</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
                      mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" g3UpgradeElements>
              <input class="mdl-textfield__input" type="time" formControlName="endTime" step="1800" id="endTime"/>
              <label class="mdl-textfield__label" for="endTime">{{'reservation.form.endTime' | i18n}}</label>
            </div>
          </ng-container>

          <ng-container *ngIf="isRepeatableTye$ | async" formGroupName="days">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkMonday">
              <input (click)="addDay('monday')" type="checkbox" class="mdl-checkbox__input" id="checkMonday">
              <span class="mdl-checkbox__label">Lunes</span>
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkTuesday">
              <input (click)="addDay('tuesday')" type="checkbox" class="mdl-checkbox__input" id="checkTuesday">
              <span class="mdl-checkbox__label">Martes</span>
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkWednesday">
              <input (click)="addDay('wednesday')" type="checkbox" class="mdl-checkbox__input" id="checkWednesday">
              <span class="mdl-checkbox__label">Miercoles</span>
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkThursday">
              <input (click)="addDay('thursday')" type="checkbox" class="mdl-checkbox__input" id="checkThursday">
              <span class="mdl-checkbox__label">Jueves</span>
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkFriday">
              <input (click)="addDay('friday')"  type="checkbox" class="mdl-checkbox__input" id="checkFriday">
              <span class="mdl-checkbox__label">Viernes</span>
            </label>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkSaturday">
              <input (click)="addDay('saturday')"  type="checkbox" class="mdl-checkbox__input" id="checkSaturday">
              <span class="mdl-checkbox__label">Sabado</span>
            </label>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isSelectedReservationType" formArrayName="resourceReservations">
          <h6 class="g3-text-color__primary bold mdl-cell mdl-cell--12-col-desktop">
            <span>{{ 'reservation.form.resources' | i18n }}</span>
          </h6>
          <ng-container *ngFor="let val of resourceReservation.controls; let i = index">
            <div class="mdl-cell mdl-cell--12-col mdl-grid resource-block mdl-shadow--2dp" [formGroupName]="i">
              <!--Type-->
              <g3-select-control class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                                 [isRequired]="true"
                                 [formGroup]="val"
                                 [results]="resourceTypes"
                                 [idControl]="'resourceType.id'"
                                 [labelName]="'resources.resource_type'">
              </g3-select-control>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label
              mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" g3UpgradeElements>
                <input min="0" type="number" class="mdl-textfield__input" formControlName="quantity" id="quantity"/>
                <label class="mdl-textfield__label" for="quantity">{{'extra_resources.total_quantity' | i18n}}*</label>
              </div>
              <div style="align-self: center; text-align: center"
                   class="mdl-cell mdl-cell--1-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone remove-button--container">
                <button (click)="removeResource(i)"
                        class="mdl-button mdl-js-button close mdl-button--icon remove-button--desktop"
                        *ngIf="resourceReservation.controls.length > 1">
                  <i class="material-icons mdl-color-text--red-400">clear</i>
                </button>
              </div>
            </div>
          </ng-container>
          <button (click)="addResource()" style="width: 100%"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" g3I18n>
            reservation.form.addResource
          </button>
        </ng-container>
        <div class="g3-border">
        </div>
      </div>
    </div>
  </form>

  <div class="mdl-dialog__actions">
    <button class="mdl-button close" [disabled]="validator.invalid" (click)=customForm.save()
            form="internationalizationForm"
            g3I18n>shared.save
    </button>
    <button class="mdl-button close" (click)="back()" g3I18n>shared.cancel</button>
  </div>
</div>
