@import "~material-design-lite/src/variables";

input[type=time]::-webkit-clear-button  {
  display: none;
}

.remove-button--container {
  .remove-button--desktop {
    display: none;
  }
  .remove-button--mobile {
    display: inline-block;
    width: 100%;
  }
  @media screen and (min-width: $grid-desktop-breakpoint) {
    .remove-button--mobile {
      display: none;
    }
    .remove-button--desktop {
      display: inline-block;
    }
  }
}

.resource-block {
  margin-bottom: 10px;
}
