// BASE COLORS
$g3-primary-color: #12385c;
$g3-secundary-color: #3e4f6d;
$g3-primary-color-dark: #2a3245;
$g3-secundary-color-light: #546786;
$g3-main-app-color: #424242;
$g3-white-app-color: #ffffff;
$g3-white-app-color-hover: #dfdfdf;
$g3-black-app-color: #000000;

$g3-background-title-color: #EFEFEF;
$mdl-checkbox-image-path: '~material-design-lite/src/images';
