<div class="mdl-card mdl-card__supporting-text mdl-shadow--2dp g3-mdl-card__select">
  <h4 class="g3-text-color__primary bold">
    <span *ngIf="isUpdate" g3I18n>resources.update</span>
    <span *ngIf="!isUpdate" g3I18n>resources.create</span>
  </h4>
  <form id="normalResourceForm" [formGroup]="customForm.form">
    <!--Type-->
    <g3-select-control [isRequired]="true"
                       [formGroup]="customForm.form"
                       [results]="resourceTypes"
                       [idControl]="'type.id'"
                       [labelName]="'resources.resource_type'">
    </g3-select-control>

    <!--Unity-->
    <g3-select-control [isRequired]="true"
                       [formGroup]="customForm.form"
                       [results]="unities"
                       [idControl]="'unity.id'"
                       [labelName]="'resources.unity'">
    </g3-select-control>

    <!--Unity-->
    <g3-select-control [isRequired]="true"
                       [formGroup]="customForm.form"
                       [results]="statuses"
                       [idControl]="'status.id'"
                       [labelName]="'resources.status'">
    </g3-select-control>

    <!--Classrooms-->
    <g3-select-control [formGroup]="customForm.form"
                       [results]="classrooms"
                       [render]="render"
                       [idControl]="'classroom.id'"
                       [labelName]="'resources.classroom'">
    </g3-select-control>

    <!--Serial-->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" g3UpgradeElements>
      <input class="mdl-textfield__input" formControlName="serial" id="serial"/>
      <label class="mdl-textfield__label" for="serial">{{'resources.serial' | i18n}}*</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" g3UpgradeElements>
      <input class="mdl-textfield__input" formControlName="activeCode" id="activeCode"/>
      <label class="mdl-textfield__label" for="activeCode">{{'resources.activeCode' | i18n}}*</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" g3UpgradeElements>
      <input type="number" class="mdl-textfield__input" formControlName="internalNumber" id="internalNumber"/>
      <label class="mdl-textfield__label" for="internalNumber">{{'resources.internalNumber' | i18n}}</label>
    </div>
  </form>
  <div class="mdl-dialog__actions">
    <button class="mdl-button close" [disabled]="validator.invalid" (click)=customForm.save()
            form="normalResourceForm"
            g3I18n>shared.save
    </button>
    <button class="mdl-button close" (click)="back()" g3I18n>shared.cancel</button>
  </div>
</div>
