.mdl-layout__drawer-button--back {
  display: block;
  height: 48px;
  width: 48px;
  border: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  font-family: Helvetica, Arial, sans-serif;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.54);
  z-index: 5;
  background-color: rgb(245, 245, 245);
  margin: 8px 12px 8px -40px;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button--back {
    margin: 4px 4px 4px -20px;
    /*position: absolute;*/
  }
}

@media screen and (max-width: 480px) {
  .button-container{
    padding-right: 95px;
  }
}

@media screen and (min-width: 480px) {
  .button-container{
    padding-right: 105px;
  }
}

.sign-icon {
  color: white !important;
  margin-top: -5px;
}
