<div class="mdl-layout__header-row">
  <div class="mdl-layout__drawer-button--back" *ngIf="!hasBack" (click)="goToRoute()">
    <i class="material-icons">arrow_back</i>
  </div>
  <span class="mdl-layout-title">{{title}}</span>
  <div class="mdl-layout-spacer"></div>

  <nav class="mdl-navigation">
    <button *ngIf="!(permissionService.permissions$ | async); else noAuth"
            class="mdl-button mdl-button--raised mdl-button--colored" (click)="login()">
      <span class="mdl-cell--hide-phone" g3I18n>shared.login</span>
      <i class="material-icons mdi mdi-login sign-icon"></i>
    </button>

    <ng-template #noAuth>
      <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="logout()">
        <span class="mdl-cell--hide-phone" g3I18n>shared.logout</span>
        <i class="material-icons mdi mdi-logout sign-icon"></i>
      </button>
    </ng-template>
  </nav>


  <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;expandable">-->
    <!--<div class="mdl-textfield__expandable-holder">-->
      <!--<input class="mdl-textfield__input" type="text" id="search">-->
      <!--<label class="mdl-textfield__label" for="search">Enter your query...</label>-->
    <!--</div>-->
    <!--<div class="button-container">-->
      <!--<button *ngIf="!(permissionService.permissions$ | async); else noAuth"-->
              <!--class="mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored" (click)="login()">-->
        <!--<span g3I18n>shared.logout</span>-->
        <!--<i class="material-icons mdi mdi-login color-white"></i>-->
      <!--</button>-->

      <!--<ng-template #noAuth>-->
        <!--<button class="mdl-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored" (click)="login()">-->
          <!--<span g3I18n>shared.logout</span>-->
          <!--<i class="material-icons mdi mdi-logout color-white"></i>-->
        <!--</button>-->
      <!--</ng-template>-->
    <!--</div>-->

  <!--</div>-->
  <!--<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon" id="hdrbtn">
    <i class="material-icons">more_vert</i>
  </button>-->
  <!--<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu&#45;&#45;bottom-right" for="hdrbtn">-->
  <!--<li class="mdl-menu__item">About</li>-->
  <!--<li class="mdl-menu__item">Contact</li>-->
  <!--<li class="mdl-menu__item">Legal information</li>-->
  <!--</ul>-->
</div>
