/* Show toast top-right */
@media screen and (min-width: 1025px) {
  .mdl-snackbar {
    bottom: auto;
    left: auto;
    top: 0px;
    right: -432px;
    transform: translate(-144px, 103px);
  }
  .mdl-snackbar--active{
    transform: translate(-432px, 103px);
  }
}
