
<button class="mdl-button mdl-js-button mdl-button--icon"
        [ngClass]="isDisabled ? 'buttonDisabled': ''"
        [id]="iconId" (click)="onclick()">
  <i class="material-icons mdi mdi-{{iconFont}}" ></i>
</button>
<span g3Upgrade
      class="mdl-tooltip mdl-tooltip--top g3-capitalize"
      [attr.for]="iconId">
  {{ finalTooltipMessage }}
</span>
