
.g3-data {
  vertical-align: super;
}

.mdl-card__title.mdl-card--expand.mdl-card--tall {
  padding-top: 36px;
  display: block;
}

g3-edit-icon {
  top: 15%;
  right: 32px;
}

.mdl-card__title {
  padding-left: 32px;
  padding-bottom: 18px;
}

g3-disabled-chip {
  position: relative;
}

.mdl-color-text--grey-600 {
  font-size: 80%;
}

.g3-mdl-card--subcontainer p {
  margin: 10px 0 0;
  line-height: 14px;
}

.g3-mdl-card--subcontainer span {
  font-size: 10px;
  line-height: 10px;
}

.g3-mdl-card--subcontainer-text {
  padding-left: 8px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mdl-card__supporting-text {
  padding: 8px 36px 36px 36px;
  margin: 0 auto;
}

.g3-icon--container {
  padding-top: 8px;
}

p {
  word-break: break-all;
}

.mdl-card__title {
  padding-bottom: 4px !important;
  padding-top: 20px !important;
}

div.g3-full-width.description {
  #descriptionhtml {
    ::ng-deep {
      h1 {
        color: #12385c !important;
        font-size: 25px;
        line-height: 2em;
      }

      h2 {
        color: #12385c !important;
        font-size: 15px;
        line-height: 1em;
      }

      p {
        margin-bottom: .5em;
      }
    }

  }
}

.banner-call-details {
  margin: 20px 0;
  width: 75%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.g3-info {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: $grid-tablet-breakpoint) {

  .g3-info {
    display: flex;
    justify-content: flex-start;
  }

  p {
    line-height: 16px !important;
  }

  .g3-icon--container {
    padding-top: 12px;
  }

  .g3-image-container {
    margin: 0 -32px;
    width: 100vw;
  }
  .banner-call-details {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

.g3-float--right {
  float: right;
}
