/* item*/
td {
  display: table-cell;
}

/* lista */

.g3-item-list {
  display: table-row;
}

.g3-item-list:hover{
  background: #EEEEEE !important;
}

table {
  margin: 0;
  width: 100%;
}

.g3-scrollable-block {
  overflow-x: auto;
  max-width: 100%;
  display: block;
}

.mdl-card {
  width: 100%;
  margin: auto;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  table {
    width: 100%;
  }

  .mdl-card {
    width: 70%;
    margin-top: 30px;
  }

  .g3-scrollable-block {
    margin-top: 0;
    width: 100%;
  }
}

/* Update in form */

.g3-textfield__toggle > .g3-toggle-container {
  display: inline-block;
  margin-right: 15px;
}

.g3-textfield__toggle > label {
  font-size: 14px;
  vertical-align: middle;
}

.g3-static {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(27, 30, 36);
  color: rgb(220, 220, 220);
}

.mdi-checkbox-blank-circle {
  margin: 0 10px 0 0;
  font-size: 15px;
}

g3-row-menu {
  display: table-cell;
  position: static;
  padding: 12px 10px 12px 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.g3-table-subcontainer {
  display: flex;
  align-items: center;
}

.g3-table-subcontainer p {
  /*line-height: 10px;*/
  margin: 0;
}

.g3-table-subcontainer span {
  margin: 10px 0 0;
  line-height: 9px;
}

.g3-inline-flex {
  display: inline-flex;
}

.g3-table--header{
  background-color: #12385c !important;
}
