<div g3UpgradeElements id="pagination-container">
  <div class="pagination">
    <span style="padding-right: 16px;">{{"pagination.result_per_page" | i18n}}:</span>
    <span>{{resultsPerPage}}</span>
    <div style="position: relative; overflow: inherit; display: inline-block;">
      <button [id]="paginatorId"
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon mdl-paging__per-page-dropdown">
        <i class="material-icons">arrow_drop_up</i>
      </button>
      <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
          [attr.data-mdl-for]="paginatorId">
        <li class="mdl-menu__item" *ngFor="let option of optionsResultsPerPage"
            (click)="setResultsPerPageAndUpdateList(option)">
          <span>{{option}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagination">
    <span
      style="padding-right: 16px;">{{getStartPag()}}-{{getEndPag()}} {{"pagination.of" | i18n}} {{totalRegisters}}</span>
    <button (click)="beforePage()" [disabled]="(currentPage - 1) < 0"
            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <button (click)="afterPage()" [disabled]="(currentPage +1) > getLastPage()"
            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>
</div>
