#pagination-container {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-collapse: collapse;
  position: relative;
  text-align: right;
  padding: 8px;
  min-width: 48px;
  overflow: inherit;
  width: 100%;
}

.pagination {
  display: inline-block;
}

@media (min-width: 768px) {
  #pagination-container {
    margin: auto;
  }
}

