<div class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp">

  <div class="">
    <div class="g3-information-card">
      <!--name-->
      <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
        <div class="mdl-cell mdl-cell--1-col g3-icon--container mdl-cell--hide-phone">
          <i class="material-icons mdi mdi-buffer"></i>
        </div>
        <div class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
          <div class="details-item__title" g3I18n>resource_types.details.name</div>
          <div class="details-item__value">{{resourceType.name}}</div>
        </div>
      </div>
      <br>
      <!--isExtra-->
      <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
        <div class="mdl-cell mdl-cell--1-col g3-icon--container mdl-cell--hide-phone">
          <i class="material-icons mdi mdi-buffer"></i>
        </div>
        <div class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
          <div class="details-item__title" g3I18n>resource_types.details.extra</div>
          <div class="details-item__value">{{(resourceType.extra ? 'shared.yes' : 'shared.no') | i18n}}</div>
        </div>
      </div>
      <br>
      <!--requesterType-->
      <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
        <div class="mdl-cell mdl-cell--1-col g3-icon--container mdl-cell--hide-phone">
          <i class="material-icons mdi mdi-buffer"></i>
        </div>
        <div class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
          <div class="details-item__title" g3I18n>resource_types.details.requesters</div>
          <div class="details-item__value">{{allowedRequesters.join(', ')}}</div>
        </div>
      </div>
      <br>
      <!--description-->
      <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
        <div class="mdl-cell mdl-cell--1-col g3-icon--container mdl-cell--hide-phone">
          <i class="material-icons mdi mdi-buffer"></i>
        </div>
        <div class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
          <div class="details-item__title" g3I18n>resource_types.details.description</div>
          <div class="details-item__value">{{resourceType.description}}</div>
        </div>
      </div>
      <br>
      <!--file-->
    </div>
  </div>
</div>
