<header [style.height.px]="(permissionService.permissions$ | async ) ? 190 : 150" class="demo-drawer-header sidenav">
    <a [routerLink]="['/']"><img src="./assets/images/logo.png">
    <p class="g3-appname" g3I18n>appName</p></a>
    <ng-container *ngIf="authService.userData">

      <span>
        <strong g3I18n>shared.username</strong>
        {{authService.userData.username}}
      </span>
      <span>
        <strong g3I18n>shared.rol</strong>
        {{authService.userData.rol}}
      </span>
    </ng-container>

    <g3-selector></g3-selector>
</header>
<!--<nav class="demo-navigation mdl-navigation mdl-color&#45;&#45;blue-grey-800">-->
<!--<g3-navs [navs]="navs | async" class="navs-container"></g3-navs>-->
<!--</nav>-->
<ul class="mdl-list">
  <ng-container *ngFor="let nav of navs | async">
    <g3-custom-nav-group *ngIf="nav.subnavs" [group]="nav"></g3-custom-nav-group>
    <g3-custom-nav-link *ngIf="!nav.subnavs" [group]="nav"></g3-custom-nav-link>
  </ng-container>
</ul>



