
.sidenav > img{
    padding: 0px !important;
}

.sidenav > a{
    color: #fff;
    text-decoration: none;
}

.g3-appname{
    line-height: 2px;
    margin-left: 0px;
    margin-top: 2px;
}

.mdl-layout__header-row > * {
  flex-shrink: 1;
}
