<div>
  <!-- file -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--file mdl-textfield--floating-label" g3UpgradeElements>
    <input class="mdl-textfield__input" #fileUploader id="uploadFile"/>
    <input #fileUploader class="no-show-input" (change)="onFileChange($event)" type="file" multiple/>
    <label for="uploadFile" class="mdl-textfield__label"> {{ files.length + ' ' + ('impacts.uploadedFiles' |
      i18n)}} </label>
    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
      <ng-container>
        <i class="material-icons">attach_file</i>
        <input #fileUploader (change)="onFileChange($event)" type="file" id="uploadBtn" [multiple]="true">
      </ng-container>
    </div>
    <div *ngIf="noLoadedFiles.length > 0">
      <ul class="alert-text__list">
        <li class="alert-text__list-item g3-text-nowrap" *ngFor="let row of noLoadedFiles">
          <i class="mdi material-icons mdi-alert-circle-outline" [title]="getError()"></i>
          {{row}}
        </li>
      </ul>
    </div>

    <div class="g3-scroll-item" *ngIf="files.length > 0">
      <ul *ngIf="!(loadingFile$ | async); else loading" style="overflow: initial">
        <li class="file-item" *ngFor="let file of files; let i = index">
          <div class="file-item__text g3-text-nowrap">
            {{file.name}}
          </div>
          <div class="file-item__icons">
            <i class="mdi material-icons g3-float-right" (click)="removeFile($event, i)">delete</i>
          </div>
        </li>
      </ul>

      <ng-template #loading>
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
      </ng-template>
    </div>
  </div>
</div>
