<div class="mdl-card mdl-card__supporting-text g3-scrollable-block g3-mdl-card__no-space g3-container__overflow-visible">
  <table class="mdl-data-table fixed-header" #table>
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric " [ngStyle]="{'width': '90% !important'}">{{header | i18n}}</th>
      <th></th>
    </tr>
    </thead>
    <ng-content></ng-content>
  </table>
</div>
