<label g3UpgradeElements #label class="mdl-switch mdl-js-switch" [for]="switchId" [id]="switchId+'label'">
  <input (click)="onClick($event, label)" type="checkbox" [id]="switchId"
         [checked]="checked" class="mdl-switch__input switch-component" [disabled]="disabled">
  <span class="mdl-switch__label"></span>
</label>
<div g3Upgrade class="mdl-tooltip mdl-tooltip--top" [attr.data-mdl-for]="switchId+'label'">
  {{tooltipMsg}}
</div>
