<div [ngSwitch]="isLarge">
  <div *ngSwitchCase="desktop">
    <ng-container *ngTemplateOutlet="desktopView"></ng-container>
  </div>
  <div *ngSwitchCase="tablet">
    <div *ngIf="tabletView">
      <ng-container *ngTemplateOutlet="tabletView"></ng-container>
    </div>
    <div *ngIf="!tabletView">
      <ng-container *ngTemplateOutlet="desktopView"></ng-container>
    </div>
  </div>
  <div *ngSwitchCase="mobile">
    <div *ngIf="!mobileView">
      <ng-container *ngTemplateOutlet="desktopView"></ng-container>
    </div>
    <div *ngIf="mobileView">
      <ng-container *ngTemplateOutlet="mobileView"></ng-container>
    </div>
  </div>
</div>
