<form [formGroup]="form" class="g3-full-width mdl-grid g3-no-padding__left" id="multiDataForm">
  <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone g3-no-margin__left">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" g3UpgradeElements>
      <input class="mdl-textfield__input" formControlName="name" id="name"/>
      <label class="mdl-textfield__label" for="name">{{labelName | i18n}}{{isRequired ? '*' : '' }}</label>
    </div>
  </div>
  <div class="mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone g3-flex-self-center ">
    <div class="mdl-dialog__actions">
      <button [attr.form]="'multiDataForm'" class="mdl-button mdl-js-button mdl-js-ripple-effect"
              (click)="save()" g3I18n>shared.add
      </button>
    </div>
  </div>
</form>

<ng-container *ngIf="control.value.length > 0">
  <g3-responsive-wrapper>
    <ng-template #desktop>
      <div class="g3-scroll-container">
        <div class="mdl-chip mdl-chip__text" *ngFor="let item of control.value; let i=index">
          {{item.internalCode}}
          <i class="material-icons mdi mdi-close desktop-margin-negative" (click)="removeElement(i)"></i>
        </div>
      </div>
    </ng-template>

    <ng-template #mobile>
      <div class="g3-scroll-container">
        <ul>
          <div class="select-item" *ngFor="let item of control.value; let i=index">
            <div class="temporal-item">
              <p>{{item.internalCode}}</p>
              <i class="material-icons mdi mdi-close g3-margin-negative_icons" (click)="removeElement(i)"></i>
            </div>
          </div>
        </ul>
      </div>
    </ng-template>
  </g3-responsive-wrapper>
</ng-container>
