<g3-dialog [idDialog]="idDialog" [size]="size">
  <header>
    <h4 class="mdl-dialog__title">{{title}}</h4>
  </header>
  <body>
  <div class="mdl-dialog__content">

      <ng-content></ng-content>

  </div>
  </body>

  <footer g3UpgradeElements>
    <div class="mdl-dialog__actions">
      <button [attr.form]="idForm" class="mdl-button mdl-js-button mdl-js-ripple-effect" [disabled]="disabled"
              (click)="save_()" g3I18n>shared.save
      </button>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="close_()" g3I18n>shared.cancel</button>
    </div>
  </footer>
</g3-dialog>
