<div *ngFor="let nav of navs">
  <g3-nav-simple *ngIf="isNavSimple(nav)" [navSimple]="nav" [level]="1"></g3-nav-simple>
  <g3-nav-composite *ngIf="isNavComposite(nav)" [navComposite]="nav" [level]="1"></g3-nav-composite>
</div>