ul.g3-mdl-list--no-spacing {
  padding: 0;
  margin: 0;
}

.g3-mdl-list--select {
  max-height: calc(80vh - 300px);
  min-height: 75px;
  overflow-y: auto;
}

ul.g3-mdl-list--select > li.mdl-list__item {
  padding: 2px 8px;
}

ul.g3-mdl-list--select {
  width: 202px;
}

ul.g3-mdl-list--select > li.mdl-list__item:hover {
  background-color: rgba(84, 103, 134, 0.20);
}

ul.g3-mdl-list--select > li.mdl-list__item span, ul.g3-mdl-list--select > li.mdl-list__item label{
   width: 100%;
}

ul.g3-mdl-list--select > li.mdl-list__item span {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
