<g3-dialog [idDialog]="idDialog">
  <header>
    <h4 class="mdl-dialog__title">{{finalTitle}}</h4>
  </header>
  <body>
  <div class="mdl-dialog__content">
    <form>
      <ul class="mdl-list g3-mdl-list--no-spacing g3-mdl-list--select">
        <li class="mdl-list__item" *ngFor="let option of options" [attr.title]="option[display]">
          <label g3Upgrade class="mdl-radio mdl-js-radio mdl-js-ripple-effect" [attr.for]="idDialog + '-' + option.id">
            <input type="radio" [attr.id]="idDialog + '-' + option.id" class="mdl-radio__button" name="{{idDialog}}" value="{{option.id}}" (click)="select(option)">
            <span class="mdl-radio__label g3-capitalize">{{toStringCustom(option)}}</span>s
          </label>
        </li>
      </ul>
    </form>
  </div>
  </body>
  <footer class="g3-footer__divisor-top">
    <div class="mdl-dialog__actions">
      <button g3Upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" [disabled]="!selected" (click)="_selectAction()">
        {{ okBtnText }}
      </button>
      <button g3Upgrade class="mdl-button mdl-js-button mdl-js-ripple-effect" [g3CloseDialog]="idDialog">
        {{ cancelBtnText }}
      </button>
    </div>
  </footer>
</g3-dialog>
