<div class="g3-test-absolute" #container *ngIf="canShow">

  <button [attr.id]="id + device"
          class="mdl-button mdl-js-button mdl-button--icon" [g3FixedMenu]="menu" [container]="container">
    <i class="material-icons">more_vert</i>
  </button>
  <ul
    [ngClass]="(i>=0 && i<=1) ?'mdl-menu--bottom-right': 'mdl-menu--top-right'"
    class="mdl-menu mdl-js-menu mdl-js-ripple-effect"
      [attr.for]="id + device" #menu>
    <ng-content></ng-content>
  </ul>

</div>
