<div *ngIf="reservation">

  <!------- Info Content -->
  <div class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp">

    <div class="">
      <div class="mdl-grid">
        <!-- Basic Data-->
        <h5 class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
          reservation.details.info
        </h5>

        <ng-container [ngSwitch]="reservation?.currentStatus?.name">
          <div *ngSwitchCase="'Reservada'" class="g3-flex--align-right mdl-cell mdl-cell--2-col-desktop mdl-cell--2-offset-desktop mdl-cell--8-col-tablet g3-text-color__primary">
            <ng-container *ngIf="canAssign">
              <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--red" (click)="reservationChangeState('DENY')">
                Denegar
              </button>
            </ng-container>
          </div>
          <div *ngSwitchCase="'Asignada'" class="g3-flex--align-right mdl-cell mdl-cell--2-col-desktop mdl-cell--2-offset-desktop mdl-cell--8-col-tablet g3-text-color__primary">
            <ng-container *ngIf="canBorrow">
              <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="reservationChangeState('BORROW')">
                Prestar
              </button>
            </ng-container>
          </div>
          <div *ngSwitchCase="'Prestada'" class="g3-flex--align-right mdl-cell mdl-cell--2-col-desktop mdl-cell--2-offset-desktop mdl-cell--8-col-tablet g3-text-color__primary">
            <ng-container *ngIf="canBorrow">
              <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="reservationChangeState('FINISH')">
                Finalizar
              </button>
            </ng-container>
          </div>
        </ng-container>

        <!-- External -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-buffer g3-text-color__primary"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{(reservation?.external ? 'shared.yes' : 'shared.no') | i18n}}</p>
              <span class="mdl-color-text--grey-400"
                    g3I18n>reservation.form.isExternal</span>
            </div>
          </div>
        </div>

        <!-- Local Description -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-map-marker"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.locationDescription}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.form.locationDescription</span>
            </div>
          </div>
        </div>


        <!-- CurrentStatus -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-clipboard-pulse-outline"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.currentStatus?.name}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.status</span>
            </div>
          </div>
        </div>

        <!-- Requester -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-account"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.requester?.ldapId}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.requester</span>
            </div>
          </div>
        </div>

        <!-- Monitor -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet" *ngIf="reservation?.assignedMonitor?.name">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-account"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.assignedMonitor?.name}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.form.monitor</span>
            </div>
          </div>
        </div>

      </div>

      <!-- Offer Duration-->
      <div class="mdl-grid">
        <h5 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
          reservation.details.time</h5>
        <!-- Start Date-->
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-calendar-blank"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.startDate}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.start_date</span>
            </div>
          </div>
        </div>

        <!-- end Date-->
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-calendar-clock"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.endDate}}<span *ngIf="!reservation.endDate" g3I18n>shared.not_defined</span>
              </p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.end_date</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp g3-mdl-card__select g3-min-heigth-content">
    <ng-container *ngIf="reservation?.assignedMonitor == null && reservation?.currentStatus?.name != 'Denegada' && canAssign">
      <h5 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
        reservation.form.assignedMonitor
      </h5>
      <form [formGroup]="customForm.form" class="mdl-grid g3-full-width">
        <g3-select-control class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone"
                           [labelName]="'reservation.form.monitor'"
                           [idControl]="'id'"
                           [formGroup]="customForm.form"
                           [results]="monitors">

        </g3-select-control>
      </form>
    </ng-container>
    <br>
    <h5 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
      reservation.form.resources</h5>

    <div *ngFor="let resource of reservation?.resourceReservations; let i = index">

      <g3-reservation-resources class="g3-container__overflow-visible" [resource]="resource"
                                [existResource]="existResource$" [dataMap]="reservationsResources"
                                (dataSelected)="showData($event, i)"></g3-reservation-resources>

    </div>

  </div>

  <div class="mdl-dialog__actions" *ngIf="(canAssignResources$ | async) && reservation.currentStatus.name == 'Reservada'">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
            [disabled]="customForm.form.invalid"
            (click)="sendReservation()"
            g3I18n>shared.save
    </button>
  </div>
</div>

<g3-confirmation-dialog [titleKey]="'shared.attention'" (ok)="changeReservationStatus('BORROW')" [messageKey]="'reservation.confirmed_borrow'" [idDialog]="'confirmationBorrow'">

</g3-confirmation-dialog>
<g3-confirmation-dialog [titleKey]="'shared.attention'" (ok)="changeReservationStatus('DENY')" [messageKey]="'reservation.confirmed_denied'" [idDialog]="'confirmationDenied'">

</g3-confirmation-dialog>
<g3-confirmation-dialog [titleKey]="'shared.attention'" (ok)="changeReservationStatus('FINISH')" [messageKey]="'reservation.confirmed_finish'" [idDialog]="'confirmationFinish'">

</g3-confirmation-dialog>
