<div class="mdl-card mdl-card__supporting-text g3-scrollable-block">
  <div class="g3-table">
    <ng-content [attr.select]="'.g3-table--header'"></ng-content>
    <ng-content [attr.select]="'.g3-table--body'"></ng-content>
  </div>
</div>
