<g3-fab (action)="openForm()"></g3-fab>
<g3-table-custom (onActionClick)="onActionClick($event)"
                 [itemList]="itemList"
                 [service]="service"
                 [totalItems]="totalItems"
                 [config]="tableConfig"></g3-table-custom>
<g3-reservation-types-form></g3-reservation-types-form>
