<g3-table-custom (onActionClick)="onActionClick($event)"
                 [itemList]="customList | async"
                 [service]="service"
                 [totalItems]="totalItems"
                 [config]="tableConfig"></g3-table-custom>
<g3-confirmation-dialog [idDialog]="'confirmationCancelDialog'"
                        [titleKey]="'shared.warning'"
                        [messageKey]="'reservation.cancellation_message'"
                        (ok)="onDelete()"> </g3-confirmation-dialog>
