.fav-container{
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 1000;
}
@media only screen and (max-width: 1024px) {
  .fav-container{
    bottom: 20px;
  }
}

i{
  color: #4e69a6 !important;
}


.g3-color-secundary{
  background: #ffd23f !important;
}
