<div *ngIf="canShow$ | async" class="animated pulse fav-container" [attr.id]="id" g3SnackbarPartner>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored g3-color-secundary" (click)="fabAction($event)">
    <i class="material-icons">add</i>
  </button>
</div>
