<span *ngIf="disabled" class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--red-400 mdl-color-text--white" style="font-weight: bold">!</span>
    <span class="mdl-chip__text" g3I18n>disabled</span>
</span>
