/**
TODO mirar como quito esto de aqui porque esto no debe ir aqui
 */
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }

  mat-sidenav {
    width: 250px;
  }
