<div
  class="animated fadeIn
        mdl-card mdl-card__supporting-text mdl-shadow--2dp
        g3-fab-partner
        g3-container__overflow-visible">
  <ng-content></ng-content>

  <g3-pagination-item
    [totalRegisters]="totalItems"
    [paginator]="service">
  </g3-pagination-item>

</div>
