<div *ngIf="canShow" @shrinkOut>
  <form id="filter-form" [formGroup]="filterForm.form">
    <div class="mdl-grid">
      <g3-select-control class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone"
                         [formGroup]="filterForm.form"
                         [idControl]="'currentStatus'"
                         [results]="reservationStatuses"
                         [service]="reservationStatusService"
                         [labelName]="'reservation.status'">
      </g3-select-control>
      <g3-select-control class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone"
                         [formGroup]="filterForm.form"
                         [idControl]="'assignedMonitor'"
                         [results]="monitors"
                         [labelName]="'reservation.monitor'">

      </g3-select-control>

        <g3-custom-date-picker style="padding-top: 1em"
                               class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone "
                               [form]="filterForm.form"
                               formControlName="from"
                               [title]="('reservation.from' | i18n)">
        </g3-custom-date-picker>
    <!--buttons-->
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-button--raised mdl-button--colored" type="submit" form="filter-form"
                [disabled]="filterForm.form.invalid" (click)="filterForm.save()" g3I18n>
          filter.search
        </button>
        <button class="mdl-button mdl-js-button" g3I18n (click)="reset()">
          filter.reset
        </button>
      </div>
    </div>
      </div>

  </form>
</div>
