<form [formGroup]="form">

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--file mdl-textfield--floating-label" g3UpgradeElements>
    <input #fileInput tabindex="-1" class="mdl-textfield__input" id="uploadFile" formControlName="documentUrl"/>
    <input #fileInput tabindex="-1" class="no-show-input" (change)="onFileChange($event)" type="file">
    <label for="uploadFile" class="mdl-textfield__label">{{'shared.file' | i18n}}{{required ? '*': ''}}</label>
    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
      <ng-container *ngIf=" isUpdate || !form.get('documentUrl').value">
        <i class="material-icons">attach_file</i>
        <input #fileInput tabindex="-1" (change)="onFileChange($event)" type="file" id="uploadBtn">
      </ng-container>
      <i class="material-icons" (click)="removeFile()"
         *ngIf="!isUpdate && this.form.get('documentUrl').value">delete</i>
    </div>
  </div>
</form>
