<!-- Type of resource-->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet">
    <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
      <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
        <i class="material-icons mdi mdi-bookmark"></i>
      </div>
      <div
        class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
        <p>{{resource?.resourceType?.name}}</p>
        <span class="mdl-color-text--grey-400" g3I18n>shared.name</span>
      </div>
    </div>
  </div>

  <!-- quantity of resource -->
  <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--4-col-tablet">
    <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
      <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
        <i class="material-icons mdi mdi-counter"></i>
      </div>
      <div
        class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
        <p>{{resource?.quantity}}</p>
        <span class="mdl-color-text--grey-400" g3I18n>shared.quantity</span>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--4-col-tablet">
    <button class="mdl-button mdl-button--raised mdl-button--colored" *ngIf="(canAssign) && !(existResources$ | async)" (click)="show()">
      {{'reservation.assigned_resource' | i18n}}
    </button>
  </div>

  <ng-container *ngIf="dataMap.get(resource.id) as data" class="g3-full-width">
    <ng-container *ngIf="!data.hasOwnProperty('extra'); else extraData"
                  class="g3-full-width">
      <div class="mdl-grid g3-full-width">
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
          <span class="mdl-color-text--grey-400" g3I18n>resources.internalNumber</span>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
          <span class="mdl-color-text--grey-400" g3I18n>resources.activeCode</span>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
          <span class="mdl-color-text--grey-400" g3I18n>resources.serial</span>
        </div>
        <div *ngFor="let a of data" class="g3-full-width mdl-grid g3-no-padding">
          <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <p class="g3-no-margin__buttom">{{a?.internalNumber ? a?.internalNumber : 'N/A' }}</p>
          </div>
          <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <p class="g3-no-margin__buttom">{{a?.activeCode ? a?.activeCode : 'N/A' }}</p>
          </div>
          <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <p class="g3-no-margin__buttom">{{a?.serial ? a?.serial : 'N/A' }}</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #extraData class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet">
        {{'reservation.totalAssigned' | i18n}}{{data.quantity}}
      </div>
    </ng-template>
  </ng-container>

  <!--Start Expandable-->
  <div *ngIf="canShow" @shrinkOut class="g3-full-width" [ngSwitch]="isExtra">
    <div *ngSwitchCase="true">
      <form id="extra-form" class="mdl-grid" [formGroup]="customForm.form">
        <!--Name-->
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" g3UpgradeElements>
            <input class="mdl-textfield__input" formControlName="quantity" id="quantity"/>
            <label class="mdl-textfield__label" for="quantity">{{'shared.quantity' | i18n}}*</label>
          </div>
        </div>
      </form>
    </div>

    <div *ngSwitchCase="false">
      <form id="normal-form" class="mdl-grid" [formGroup]="customForm.form">
        <ng-container *ngFor="let control of resourcesForm.controls">

          <g3-select-control class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone"
                             [isRequired]="true"
                             [formGroup]="control"
                             [results]="resources"
                             [render]="render"
                             [idControl]="'resource.id'"
                             [labelName]="'resources.assign_resource_type'">
          </g3-select-control>

        </ng-container>
      </form>
    </div>

    <div class="mdl-dialog__actions">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
              [disabled]="validator.invalid"
              (click)="save()" g3I18n>shared.save
      </button>
    </div>
  </div>
  <!--End Expandable-->
</div>

<br>
