<g3-dialog [idDialog]="idDialog">

  <header>
    <h4 *ngIf="finalTitle" class="mdl-dialog__title" style="color: rgb(239,83,80) !important">
      {{ finalTitle }}
    </h4>
    <ng-content #header select="header"></ng-content>
  </header>

  <body>
  <div *ngIf="finalMessage" class="mdl-dialog__content">
    {{ finalMessage }}
  </div>
  <ng-content #body select="body"></ng-content>
  </body>

  <footer g3UpgradeElements>
    <div class="mdl-dialog__actions">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" [g3CloseDialog]="idDialog">
        {{ okBtnName }}
      </button>
    </div>
  </footer>

</g3-dialog>
