<div *ngIf="reservation">

  <!------- Info Content -->
  <div class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp">

    <div class="">
      <div class="mdl-grid">
        <!-- Basic Data-->
        <h5 class="mdl-cell mdl-cell--8-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
          reservation.details.info</h5>

        <ng-container *ngIf="showAprove | async">
          <div *ngIf="reservation?.approved === null" class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet g3-text-color__primary mdl-typography--text-right">
            <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="confirmationApproved(true)">
              Aprobar
            </button>
            <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--red" (click)="confirmationApproved(false)">
              Denegar
            </button>
          </div>
        </ng-container>
        <!-- External -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-buffer g3-text-color__primary"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{(reservation?.external ? 'shared.yes' : 'shared.no') | i18n}}</p>
              <span class="mdl-color-text--grey-400"
                    g3I18n>reservation.form.isExternal</span>
            </div>
          </div>
        </div>

        <!-- Local Description -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-map-marker"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.locationDescription}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.form.locationDescription</span>
            </div>
          </div>
        </div>

        <!-- Approved -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-clipboard-pulse-outline"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{getApproved(reservation?.approved)}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.request_status</span>
            </div>
          </div>
        </div>

        <!-- Requester -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-account"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.requester?.ldapId}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.requester</span>
            </div>
          </div>
        </div>

      </div>

      <!-- Offer Duration-->
      <div class="mdl-grid">
        <h5 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
          reservation.details.time</h5>
        <!-- Start Date-->
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-calendar-blank"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.startDate}}</p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.start_date</span>
            </div>
          </div>
        </div>

        <!-- end Date-->
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet">
          <div class="mdl-grid mdl-grid--no-spacing g3-mdl-card--subcontainer">
            <div class="mdl-cell mdl-cell--1-col g3-mdl-card--subcontainer-icon g3-icon--container">
              <i class="material-icons mdi mdi-calendar-clock"></i>
            </div>
            <div
              class="mdl-cell mdl-cell--stretch mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone g3-mdl-card--subcontainer-text">
              <p>{{reservation?.endDate}}<span *ngIf="!reservation.endDate" g3I18n>shared.not_defined</span>
              </p>
              <span class="mdl-color-text--grey-400" g3I18n>reservation.end_date</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h5 class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet g3-text-color__primary" g3I18n>
      reservation.form.resources</h5>

    <div *ngFor="let resource of reservation?.resourceReservations; let i = index" class="demo-card-square mdl-card mdl-card__full-width mdl-shadow--2dp g3-no-minHeight g3-container__overflow-visible">

      <div class="g3-container__overflow-visible">

        <g3-reservation-resources class="g3-container__overflow-visible" [resource]="resource"  [dataMap]="reservationsResources"></g3-reservation-resources>

      </div>
    </div>

  </div>

</div>


<g3-confirmation-dialog [titleKey]="'shared.attention'" (ok)="toApproved(true)" [messageKey]="'reservation.confirmed_approved'" [idDialog]="'confirmationApproved'">

</g3-confirmation-dialog>
<g3-confirmation-dialog [titleKey]="'shared.attention'" (ok)="toApproved(false)" [messageKey]="'reservation.confirmed_denied'" [idDialog]="'confirmationDenied'">

</g3-confirmation-dialog>
