
.g3-table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: $data-table-dividers;
  font-size: $data-table-font-size;

  & .g3-table--header {
    padding-bottom: 3px;
  }

  .g3-table--row {
    display: flex;
  }

  .g3-table--row > * {
    padding: 0 $data-table-column-padding 12px $data-table-column-padding;
    &:first-of-type {
      padding-left: 24px;
    }
    &:last-of-type {
      //padding-right: 10px;
    }
  }

  & .g3-table--body {
    min-height: 256px;
    overflow-y: scroll;
    position: relative;
    background: white;
    max-height: 60vh;
    width: 100%;
    g3-table-row{
      display: block;
    }
  }

  g3-pagination-item{
    width: 100%;
  }

  & .g3-table--body .g3-table--row {
    height: auto;
    @include material-animation-default(0.28s);
    transition-property: background-color;
    &:hover {
      background-color: $data-table-hover-color;
    }

    & > * {
      vertical-align: middle;
      height: auto;
      border-bottom: $data-table-dividers;
      padding-top: 12px;
      padding-bottom: 12px;
      box-sizing: border-box;
    }
  }

  & > .g3-table--header__wrapper {
    background-color: $g3-primary-color !important;
  }

  & .g3-table--header {
    //display: none;
    background-color: $g3-primary-color;
    max-width: calc(100% - 5px);

    & > * {
      vertical-align: bottom;
      text-overflow: ellipsis;
      @include typo-body-2();
      line-height: 15px;
      height: auto;
      min-height: $data-table-row-height;
      font-size: 14px;
      color: white;
      padding-bottom: 0;
      padding-top: 0;
      box-sizing: border-box;
    }
  }

  & .g3-table--row {
    @media (min-width: $grid-tablet-breakpoint) {
      & {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    & > * {
      display: flex;
      align-items: center;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      min-width: 0;
      word-wrap: break-word;
    }
  }
}

g3-table-header{
  background-color: #12385c;
}

@for $i from 0 through ($grid-desktop-columns) {
  .g3-flex-grow--#{$i} {
    flex-grow: $i !important;
  }

  @media (min-width: $grid-tablet-breakpoint) and (max-width: $grid-desktop-breakpoint - 1) {
    .g3-flex-grow--#{$i}-tablet {
      flex-grow: $i !important;
    }
  }
}

.fixed-header tbody, .g3-table .g3-table--body {
  //background: linear-gradient(white 30%, hsla(0, 0%, 100%, 0)),
  //linear-gradient(hsla(0, 0%, 100%, 0) 10px, white 70%) bottom,
  //radial-gradient(at top, rgba(0, 0, 0, 0.2), transparent 70%),
  //radial-gradient(at bottom, rgba(0, 0, 0, 0.2), transparent 70%) bottom;
  //background-repeat: no-repeat;
  //background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  //background-attachment: local, local, scroll, scroll;
}

.g3-flex-self-center {
  align-self: center !important;
}

// esto puede llegar a cambiar, tener cuidado con esto y revisar las tablas
.g3-flex--align-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.g3-flex--align-right {
  justify-content: flex-end;
  display: flex;
}

.g3-flex--align-left {
  justify-content: flex-start;
}

.g3-display__none {
  display: none !important;
}

.g3-filter-table {
  position: relative;
  height: 45px;
  &__actions {
    position: absolute;
    right: 16px;
    top: 4px;
  }
}

.background-title-color {
  background-color: $g3-background-title-color;
}


.filter{
  background-color: $g3-white-app-color;
  &__toggle{
    float: right;
  }

  &__form{
    padding-top: 32px;
  }
}

.mdi.mdi-checkbox-blank-circle.g3-simple-dot{
  margin-right: 6px;
  font-size: 16px;
}


.g3-table-container{
  margin-bottom: 70px;
}


