.mdl-dialog {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 600px;
  max-width: 80% !important;
  margin: auto ;
  overflow: hidden;
  max-height: 80vh;
  .wrapper-modal {
    margin: 0;
    padding: 8px 4px;
  }
  @media (max-height: $grid-desktop-breakpoint) {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -ms-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
    top: 5%;
    margin-bottom: 5%;
    height: auto;
  }
}

.g3-scroll-item{
  max-height: 100px !important;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.details {

  &-title {

  }

  &-item__title {
    color: $g3-primary-color;
    font-weight: 700;
    height: 20px;
    &:not(:first-child){
      margin-top: 20px;
    }

    &::after{
      content: ':';
    }

  }

  &-item__value {
    color: $g3-primary-color-dark;
  }

  &-files {
    text-align: center;
    margin-top: 32px;

    &__form {
      text-align: left;
      width: 80%;
      margin: auto;
    }

    &__title {
      margin-bottom: 8px;
      color: $g3-primary-color;
    }

    &__item{
      width: 200px;
      @media (max-width: $grid-tablet-breakpoint) {
        width: 90%;
      }
      display: inline-block;
      margin: 10px;

      .mdl-card__title{
        min-height: 150px;
        background-size: 100%;

      }

      &-description{
        clear: both;
        &-text{
          float: left;
          text-align: left;
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          -ms-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }

        &-icons{
          float: right;
        }
      }
    }
  }

}
