g3-multi-file-form{
  ul{
    padding: 0;
  }

  .g3-float-right{
    float: right;
  }

}

.file-item {
  clear: both;
  &__text{
    float: left;
    width: 80%;
  }
  &__icons{
    float: right;
    width: 20%;
  }
  &__icons:hover{
    cursor: pointer;
  }
}


.alert{
  background-color: indianred;

  &-text {
    float: right;
    width: 80%;

    &__title {

    }

    &.__list{
      &-item{
        color: white;
      }
    }

  }

}

.g3-scroll-item{

  border: solid 0.5px $g3-primary-color;
  border-top: 0;
  border-left: 0;
  box-shadow: 0.5px 1.5px 3px $g3-primary-color-dark;
  padding: 1px 12px;

}
