.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: unquote("rgba(#{$g3-black-app-color}), , 0.54)");
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 190px;
}

.demo-navigation {
  flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: unquote("rgba(#{$palette-cyan-500})");
  color: unquote("rgba(#{$palette-blue-grey-800})");
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  align-items: center;
}

.demo-chart:nth-child(1) {
  color: #ACEC00;
}

.demo-chart:nth-child(2) {
  color: #00BBD6;
}

.demo-chart:nth-child(3) {
  color: #BA65C9;
}

.demo-chart:nth-child(4) {
  color: #EF3C79;
}

.demo-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px;
}

_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px;
}

/* TODO end */
.demo-graph:nth-child(1) {
  color: #00b9d8;
}

.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}

.demo-cards .demo-separator {
  height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.demo-cards ul {
  padding: 0;
}

.demo-cards h3 {
  font-size: 1em;
}

.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('/assets/images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
  color: unquote("rgba(#{$palette-cyan-500})") !important;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
  margin: 0;
  list-style-type: none;
}

.demo-options li {
  margin: 4px 0;
}

.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.mdl-accordion.mdl-accordion--opened {
  border: none !important;
  margin-top: 0px !important;
}

.mdl-accordion {
  cursor: pointer;
}

.mdl-navigation__link:hover > i[role=presentation] {
  color: $g3-white-app-color !important;
}

.level-1 {
  background: $g3-secundary-color;
  opacity: 1;
}

.level-1:hover {
  color: $g3-white-app-color;
}

.level-2 > i[role=presentation], .level-2 > i[role=presentation], .level-3 > i[role=presentation] {
  font-size: 10px !important;
  color: $g3-white-app-color;
}

.level-2 > i[role=presentation] {
  padding-left: 25px !important;
}

.level-3 > i[role=presentation] {
  padding-left: 40px !important;
}

.mdl-accordion .mdl-accordion__content-wrapper {
  background: $g3-secundary-color-light;
}

.active {
  background-color: $g3-primary-color;
}

header.sidenav {
  background-color: $g3-primary-color;
}

.mdl-color--primary {
  background-color: $g3-primary-color !important;
}

.mdl-button--raised.mdl-button--colored {
  background: $g3-primary-color;
}

.mdl-layout__drawer {
  border-right: none !important;
}

.mdl-accordion {
  cursor: pointer;
  background-color: $g3-secundary-color;
}

.mdl-accordion:hover {
  cursor: pointer;
  background-color: $g3-primary-color-dark;
  color: $g3-white-app-color !important;
}

.mdl-navigation__link:hover {
  cursor: pointer;
  background-color: $g3-primary-color-dark !important;
  color: $g3-white-app-color !important;
}

.mdl-accordion__button:hover {
  cursor: pointer;
  background-color: $g3-primary-color-dark !important;
  color: $g3-white-app-color !important;
}

.mdl-accordion.mdl-accordion--opened > .mdl-accordion__content-wrapper > .mdl-accordion__content {
  border-top: none !important;
  margin-top: 0 !important;
}

.mdl-accordion .mdl-accordion__content-wrapper {
  overflow: hidden;
}

.mdl-accordion .mdl-accordion__content {
  transition-property: margin-top;
  transition-duration: 0.2s;
}

.mdl-accordion .mdl-accordion__icon {
  transition-property: transform;
  transition-duration: 0.2s;
  color: unquote("rgba(#{$g3-black-app-color}), , 0.3)");
  position: absolute;
  right: 6px;
  margin-top: -3px;
}

.mdl-accordion.mdl-accordion--opened > a > .mdl-accordion__icon {
  transform: rotate(-180deg);
}

.mdl-accordion.mdl-accordion--opened .mdl-accordion__button {
  color: white;
}

.mdl-accordion.mdl-accordion--opened > .mdl-accordion__content-wrapper > .mdl-accordion__content {
  margin-top: 0 !important;
}

.mdl-layout__drawer {
  background-color: $g3-secundary-color !important;
}

footer.main-footer {
  background: $g3-primary-color-dark;
  color: $g3-white-app-color;
  text-align: right;
  height: 40px;
  padding: 20px;

}

footer.main-footer > a {
  color: $g3-white-app-color;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}

footer.main-footer > a:hover {
  color: $g3-white-app-color-hover;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0px !important;
}

.demo-navigation .mdl-navigation__link .material-icons {
  margin-right: 10px !important;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  padding-top: 30px;
}

.details-module {
  margin-top: 20px;
  margin-bottom: 10px;
}

.details-module > label {
  color: $g3-primary-color;
  text-transform: uppercase;
  font-size: 11px;
}

.details-module > p {
  color: $g3-black-app-color;
  max-width: 300px;
}

.mdl-data-table {
  width: 100%;
}

.right-button {
  float: right;
}

.cancel {
  color: $g3-secundary-color;
}

@media (max-width: 1024px) {
  .main-footer {
    display: none;
  }
}

@media (min-width: 1025px) {
  .main-footer {
    display: block;
  }
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  color: $g3-white-app-color !important;
}

// Language
.inline-blocks div {
  display: inline-block;
  vertical-align: middle;
}

.language-input {
  border-bottom: 1px solid $g3-white-app-color !important;
}

.language-selector {
  max-width: 150px;
  width: 100%;
}

.language-selector label {
  color: $g3-white-app-color;
  font-size: 12px;
}

.language-icon {
  margin-top: 5px;
}

#languages-list {
  list-style-type: none;
  position: absolute;
  z-index: 99999;
  margin-top: -15px;
  margin-left: 26px;
  width: 150px;
  background: $g3-primary-color;
  overflow: hidden;
  max-height: 0;
  padding: 0px;
  -webkit-transition: max-height 500ms ease;
  -moz-transition: max-height 500ms ease;
  -o-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}

#languages-list li {
  color: $g3-white-app-color;
  padding: 12px;
  cursor: pointer;
  border: 1px solid $g3-secundary-color;
}

#languages-list li:hover {
  background: $g3-primary-color-dark;
  color: $g3-white-app-color;
}

ul.mdl-list, li.mdl-list__item {
  padding-left: 1rem
}

//.mdl-navigation__link{
//  padding: 16px 12px !important;
//}

g3-nav-simple {
  i.material-icons {
    padding-left: 0;
  }
}

g3-sidenav {
  ul {
    ul {
      li {
        &.link {
          margin-left: 16px;
        }
      }
    }
    &.mdl-list {
      padding: 6px 0;
    }
    &.mdl-list, li.mdl-list__item {
      padding-left: .8rem;
    }
    li.mdl-list__item {
      color: rgba($g3-white-app-color, .8);
      font-size: 1rem;
    }
    &.mdl-list.activated {
      animation: onToggleOpen .5s ease-out;
    }
    &.mdl-list.deactivated {
      animation: onToggleClose .5 ease-out forwards;
    }
    li {
      border-bottom-left-radius: 5px !important;
      border-top-left-radius: 5px !important;
      margin: 2px 0;
      &:active {
        transform: translateY(1px);
      }
      &:focus {
        outline: 0;
      }
      &.mdl-list__item {
        cursor: pointer;
        padding-top: 0;
        padding-bottom: 0;
        color: $g3-white-app-color;
        &:hover {
          background-color: lighten($g3-secundary-color, 8);
        }
      }
      .active {
        background-color: darken($g3-secundary-color-light, 5);
      }
      &.mdl-list__item.active--parent {
        &.active {
          border-bottom: $g3-primary-color-dark solid 1px;
          box-shadow: 2px 2.5px 0px $g3-primary-color-dark;
        }
        font-weight: 400;
        .sidebar-item__icon {
          font-weight: 700;
          color: $g3-white-app-color;
        }
      }
      .arrow {
        position: relative;
        color: $g3-white-app-color;
        i {
          color: rgba($g3-white-app-color, .8);
        }
      }

      .sidebar-item__icon {
        position: absolute;
        right: 8px;
        color: rgba($g3-white-app-color, .8);
      }
    }
  }

}

// CUSTOM SCROLL BAR

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $g3-primary-color-dark;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $g3-primary-color;
}

@keyframes onToggleOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onToggleClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}
