g3-select-control {

  .g3-no-item:hover{
    cursor: default;
  }

  ul {
    padding: 0;
    & > * {
      height: auto !important;
      min-height: 32px !important;
    }

    & > div {
      color: rgba(0,0,0, 0.54);
    }
  }

  .select-item {
    border-bottom: solid 0.5px #EEEEEE;
    clear: both;
    &__text{
      float: left;
      width: 80%;
    }
    &__icons{
      float: right;
      width: 20%;
    }
    &__icons:hover{
      cursor: pointer;
    }
  }

  .g3-scroll-container{
    //box-shadow: 0.5px 1.5px 3px $g3-primary-color-dark;
    //padding: 1px 12px;
    max-height: 150px !important;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .temporal-item{
    clear: both;
    display: inline-flex;
    width: 97%;
    & p {
      width: 90%;
      word-break: break-word;
      margin: 0;
    }

    & i {
      width: 10%;
    }
  }

  i:before {
    cursor: pointer !important;
  }

  .desktop-margin-negative{
    vertical-align: middle;
    margin-top: -5px;
  }

}
