.mdl-textfield {
  width: 100%;
}


.label-description{
  color: rgb(63,81,181);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}


.ql-snow .ql-editor h3{
  background: red;
}

.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    top: 15px;
    right: 0;
  }
}

.label-file{
  margin-left: 8px;
}

.no-show-input{
  position: absolute;
  top: 0;
  height: 4.5em;
  width: 100%;
  color: transparent;
  border: none;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

g3-single-file {
  .mdl-grid{
    padding-left: 0;
    padding-right: 0;
  }

  .mdl-cell{
    margin-left: 0;
    margin-right: 0;
  }
}
