.mdl-layout__tab-bar{
  background-color: transparent;
  height: auto;
}

.mdl-layout__tab{
  color: rgba(0,0,0,0.54);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active{
  color: $g3-primary-color;
}

.mdl-layout__tab.is-active::after{
  background-color: $g3-secundary-color !important;
}
