<div class="mdl-accordion" [id]="'accordion-'+navComposite.id">
  <a class="mdl-navigation__link mdl-accordion__button level-{{level}}" [id]="navComposite.id" (click)="doingAccordion()">
    <i class="material-icons mdl-accordion__icon mdl-animation--default" >expand_more</i>
    <i class="material-icons mdi mdi-{{navComposite.icon}}" role="presentation"></i>
    {{finalLabel}}
  </a>
  <div class="mdl-accordion__content-wrapper">
    <div class="mdl-accordion__content mdl-animation--default" [id]="'content-'+navComposite.id" [@sidenavAnimate]="accordionStatus" >
      <ng-container *ngFor="let nav of navComposite.subnavs">
        <g3-nav-simple *ngIf="isNavSimple(nav)" [navSimple]="nav" [level]="level+1"></g3-nav-simple>
        <g3-nav-composite *ngIf="isNavComposite(nav)" [navComposite]="nav" [level]="level+1"></g3-nav-composite>
      </ng-container>
    </div>
  </div>
</div>
