<div class="g3-wrapper-center__vertical">
  <h1 class="g3-text-color__primary">{{'not_found.oops' | i18n}}... {{internalCode}}</h1>
  <div class="wrapper">
    <i class="material-icons g3-text-color__primary">broken_image</i>
  </div>
  <p>
    {{message | i18n}}
  </p>
</div>
