<g3-dialog-form idDialog="assignResourceDialog" [form]="dialogForm" [validatorForm]="validator" idForm="requesterTypeForm">
  <form id="assignResourceForm" [formGroup]="customForm.form">
    <g3-select-control [formGroup]="customForm.form"
                       [results]="resourcesTypes"
                       [isRequired]="true"
                       [idControl]="'type.id'"
                       [labelName]="'extra_resources.resource_type'"></g3-select-control>
  </form>
</g3-dialog-form>
