.mdl-progress {
  width: 200px;
}

@media (min-width: 576px) {
  .mdl-progress {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .mdl-progress {
    width: 400px;
  }
}

@media (min-width: 992px) {
  .mdl-progress {
    width: 500px;
  }
}
