<a class="mdl-navigation__link level-{{level}}" [routerLink]="navSimple.route" [id]="navSimple.id">
  <i class="mdl-color-text--blue-grey-400 material-icons mdi mdi-{{navSimple.icon}}" role="presentation"></i>{{
  finalLabel }}
</a>
