<ng-container *ngIf="!service && !isMulti">
  <form [formGroup]="formGroup" class="g3-full-width">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" g3UpgradeElements>
      <input type="text" class="mdl-textfield__input" value="" id="{{idControl}}select"
             g3FormControlSelect="{{idControl}}"
             readonly/>
      <input type="hidden" value="" name="type">
      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
      <label class="mdl-textfield__label" for="{{idControl}}select">{{ labelName |i18n}}{{isRequired ? '*': ''}}</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" [attr.for]="idControl">
        <div *ngIf="results.length > 0; else noItems" class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select'
          | i18n}}
        </div>
        <ng-template #noItems>
          <div class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select_none'| i18n}}</div>
        </ng-template>
        <li *ngIf="results.length > 0 && !isRequired" class="mdl-menu__item" (click)="clearData()">{{'shared.none' |
          i18n}}
        </li>
        <li g3UpgradeElements *ngFor="let item of results" [attr.data-val]="item[property]"
            class="mdl-menu__item" [innerHTML]="render(item) | safeHtml">
        </li>
      </ul>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="service && !isMulti" #AutoComplete>
  <form [formGroup]="formGroup" class="g3-full-width">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select g3-mdl-select--autocomplete"
      g3UpgradeElements
    >
      <input type="text" class="mdl-textfield__input " value="" id="{{idControl}}autocomplete" g3FormAutocomplete
             autocomplete="off"
             [searchService]="service" [results]="results"
             g3FormControlSelect="{{idControl}}"
      />
      <input type="hidden" value="" name="type">
      <label class="mdl-textfield__label"
             for="{{idControl}}autocomplete">{{labelName |i18n}}{{isRequired ? '*': ''}}</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" [attr.for]="idControl">
        <ng-container *ngIf="results.items.length > 0; else noItems">
          <div class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.autoCompleteSelect' | i18n}}</div>
        </ng-container>
        <ng-template #noItems class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select_none' | i18n}}
        </ng-template>
        <li *ngFor="let item of results.items | slice:0:10" [attr.data-val]="item[property]"
            class="mdl-menu__item g3-li--subcontainer" title="{{item.name.capitalizeWords()}}"
            [innerHtml]="render(item) | safeHtml"
        >
        </li>
      </ul>
    </div>
  </form>

</ng-container>

<ng-container *ngIf="!service && isMulti">
  <form [formGroup]="formGroup" class="g3-full-width">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" g3UpgradeElements>
      <input type="text" class="mdl-textfield__input" value="" id="{{idControl}}multiSelect"
             g3FormControlSelect="{{idControl}}"
             readonly/>
      <input type="hidden" value="" name="type">
      <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
      <label class="mdl-textfield__label" for="{{idControl}}multiSelect">{{ labelName |i18n}}{{isRequired ? '*':
        ''}}</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" [attr.for]="idControl">
        <div *ngIf="results.length > 0; else noItems" class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select'
          | i18n}}
        </div>
        <ng-template #noItems>
          <div class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select_none'| i18n}}</div>
        </ng-template>
        <li g3UpgradeElements *ngFor="let item of results"
            class="mdl-menu__item" [innerHTML]="render(item) | safeHtml" (click)="addElement(item)">
        </li>
      </ul>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="service && isMulti">
  <form [formGroup]="formGroup" class="g3-full-width">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select g3-mdl-select--autocomplete"
      g3UpgradeElements
    >
      <input type="text" class="mdl-textfield__input " value="" id="{{idControl}}multiAutocomplete" g3FormAutocomplete
             autocomplete="off"
             [searchService]="service" [results]="results"
             g3FormControlSelect="{{idControl}}"
      />
      <input type="hidden" value="" name="type">
      <label class="mdl-textfield__label"
             for="{{idControl}}multiAutocomplete">{{labelName |i18n}}{{isRequired ? '*': ''}}</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" [attr.for]="idControl">
        <ng-container *ngIf="results.items.length > 0; else noItems">
          <div class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.autoCompleteSelect' | i18n}}</div>
        </ng-container>
        <ng-template #noItems class="g3-no-item" disabled>&nbsp;&nbsp;&nbsp;&nbsp;{{'shared.select_none' | i18n}}
        </ng-template>
        <li *ngFor="let item of results.items | slice:0:10"
            class="mdl-menu__item g3-li--subcontainer" title="{{item.name.capitalizeWords()}}"
            [innerHtml]="render(item) | safeHtml" (click)="addElement(item)"
        >
        </li>
      </ul>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="isMulti && control.value.length > 0">
  <g3-responsive-wrapper>

    <ng-template #desktop>
      <h5>{{titleBox | i18n}}</h5>
      <div class="g3-scroll-container">
        <div class="mdl-chip mdl-chip__text" *ngFor="let item of control.value; let i=index">
          {{item.name}}
          <i class="material-icons mdi mdi-close desktop-margin-negative" (click)="removeElement(i)"></i>
        </div>
      </div>
    </ng-template>

    <ng-template #mobile>
      <h5>{{titleBox | i18n}}</h5>
      <div class="g3-scroll-container">
        <ul>
          <div class="select-item" *ngFor="let item of control.value; let i=index">
            <div class="temporal-item">
              <p>{{item.name}}</p>
              <i class="material-icons mdi mdi-close g3-margin-negative_icons" (click)="removeElement(i)"></i>
            </div>
          </div>
        </ul>
      </div>
    </ng-template>
  </g3-responsive-wrapper>
</ng-container>
