<!-- Language Selector Module  -->
<div class="inline-blocks" (mouseover)="displayLanguageSelector('open')" (mouseout)="displayLanguageSelector('close')">

  <div>
    <i class="material-icons language-icon">language</i>
  </div>

  <div class="mdl-textfield mdl-js-textfield language-selector">
    <input class="mdl-textfield__input language-input" type="text" id="sample1" readonly>
    <label class="mdl-textfield__label" for="sample1">{{ currentLanguageName | i18n }}</label>
  </div>

  <ul id="languages-list">
    <li *ngFor="let language of supportedLanguages | async" (click)="selectLanguage(language)">{{language.name | i18n}}</li>
  </ul>

</div>
