/*.mdl-dialog {*/
  /*padding: 0;*/
  /*top:50%;*/
  /*transform: translateY(-50%);*/
  /*min-width: 280px !important;*/
/*}*/

/*.wrapper-modal {*/
  /*margin: 0;*/
  /*padding: 15px;*/
/*}*/

/*.g3-dialog--medium {*/
  /*width: 20% !important;*/
/*}*/

/*.g3-dialog--large {*/
  /*width: 40% !important;*/
/*}*/
