<dialog g3DialogPolyfill *g3RenderAtBody="idDialog" class="mdl-dialog animated {{classSize}}" [id]="idDialog">
  <div class="wrapper-modal" (click)="clickOnDialog()">
    <ng-content [attr.select]="header"></ng-content>
    <ng-content [attr.select]="body"></ng-content>
    <ng-content [attr.select]="footer"></ng-content>
  </div>
</dialog>
